body {
  background-color: rgb(255, 255, 255);
  color: #000000;
  font-family: Arial;
}

.header {
  background-color: rgb(38, 38, 39);
}
.header b {
  margin-left: 10px;
}
.movie-title {
  background-color: #746a64;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}
.movie-details {
  width: 100%;
}
.movie-description {
  padding-top: 15px;
  font-size: 14px;
  color: #757575;
}
.section-1 {
  padding: 15px;
}
.trailer {
  padding-top: 14px;
  font-weight: 500;
  color: #757575;
}
.movie-year {
  font-size: 20px;
  font-weight: 500;
  color: #212121;
}

.movie-rating {
  margin-bottom: 10%;
  color: #212121;
  font-size: 14px;
}
.movie-duration {
  color: #212121;
  font-size: 14px;
}
.movie-detail-lower {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Create four equal cols that sits next to each other */
.col img {
  position: relative;
  float: left;
  width: 100%;
}
.col-md-3 img {
  position: relative;
  float: left;
  width: 100%;
  margin-right: 2%;
}
.col-md-6 {
  /* position: relative; */
  height: 100%;
  width: 100%;
  float: left;
  color: black;
}

.menu-dots {
  float: right;
}

/* Responsive layout - makes a two col-layout instead of four cols */
@media screen and (max-width: 800px) {
  .col {
    -ms-flex: 50%;
    padding-right: 0px;
    padding-left: 0px;
    flex: 50%;
    max-width: 50%;
  }
  .col-md-3 img {
    -ms-flex: 40%;
    padding-right: 10px;
    padding-left: 0px;
    flex: 40%;
    max-width: 40%;
  }

  .col-md-6 {
    -ms-flex: 50%;
    padding-left: 0px;
    padding-right: 0px;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two cols stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col {
    -ms-flex: 50%;
    padding-right: 0px;
    padding-left: 0px;
    flex: 50%;
    max-width: 50%;
  }
  .col-md-3 img {
    -ms-flex: 40%;
    padding-right: 10px;
    padding-left: 0px;
    flex: 40%;
    max-width: 40%;
  }

  .col-md-6 {
    -ms-flex: 50%;
    padding-right: 0px;
    padding-left: 0px;
    flex: 50%;
    max-width: 50%;
  }
}
